<div class="container">
    <div class="form-container sign-in-container" data-aos="zoom-out-up" data-aos-once="false" data-aos-duration="2000" data-aos-easing="ease-in-out">
        <form action="#">
            <h2 class="f">Place To Deliever Your Order <i class="fas fa-truck"></i></h2>
            <br>
            <label for="" class="mr-auto"><h5>Select Division or State</h5></label>
            <select name="" id="" class="form-control opt1" formControlName="division"
            [class.is-invalid]="division?.invalid && (division?.dirty|| division?.touched)" required>
            <option *ngFor="let division of divisions" [ngValue]="division">{{division.name}}</option>
          </select>
          <br>
          <label for="" class="mr-auto"><h5>Select Township</h5></label>
          <select name="" id="" class="form-control opt1" formControlName="township" formControlName="township"
          [class.is-invalid]="township?.invalid && (township?.dirty|| township?.touched)" required>
          <option *ngFor="let township of townships | townshipFilter:division1" [ngValue]="township">{{township.name}}</option>
        </select>
                       <br>
            <label for="" class="mr-auto"><h5>Insert Street Name</h5></label>
            <input type="text" class="form-control em" id="name" placeholder="Enter Street Name"
            formControlName="street" [class.is-invalid]="street?.invalid && (street?.dirty|| street?.touched)"
            required>
            <br>
            <label for="" class="mr-auto"><h5>Insert Address</h5></label>
            <input type="text" class="form-control em" id="address" 
            formControlName="address" [class.is-invalid]="address?.invalid && (address?.dirty|| address?.touched)"
                       placeholder="Enter your Address">
                       <br>
            <label for="" class="mr-auto"><h5>Insert Phone No</h5></label>
                <input type="number" class="form-control em" id="phno" 
                formControlName="phno" [class.is-invalid]="phno?.invalid && (phno?.dirty|| phno?.touched)"
                        placeholder="Enter Your Phone Number">  
                        <br>         
            <button (click)="save()"
            [disabled]="!transactionForm.valid">Confirm</button>
        </form>
        <br>
        <br>
        <br>
        
    </div>
</div>