<br><br><br>
<div class="container">
    <h3>History</h3>
    <br>
    
    

<br>
    <table class="table table-striped table-bordered tabletext">
        <thead>
          <tr>
            <th scope="col" >No</th>
            <th scope="col"  >Date</th>
            <th scope="col" >Buyer</th>
            <th>Amount</th>
            <th></th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>9/3/2020</td>
            <td>Mark</td>
            <td>30000 Ks</td>
            <th><button type="button" class="btn btn-outline-dark" [routerLink]="['/admin-view/order']" routerLinkActive="active" >Detail</button></th>
          </tr>
          <tr>
            <td>2</td>
            <td>9/1/2020</td>
            <td>Jack</td>
            <td>34000 Ks</td>
            <th><button type="button" class="btn btn-outline-dark" [routerLink]="['/admin-view/order']" routerLinkActive="active" >Detail</button></th>
          </tr>
         
          <tr>
            <td>3</td>
            <td>8/29/2020</td>
            <td>Jack</td>
            <td>34000 Ks</td>
            <th><button type="button" class="btn btn-outline-dark" [routerLink]="['/admin-view/order']" routerLinkActive="active" >Detail</button></th>
          </tr>
          <tr>
            <td>4</td>
            <td>8/29/2020</td>
            <td>Jack</td>
            <td>34000 Ks</td>
            <th><button type="button" class="btn btn-outline-dark" [routerLink]="['/admin-view/order']" routerLinkActive="router-link-active" >Detail</button></th>
          </tr>
          <tr>
            <td>5</td>
            <td>8/28/2020</td>
            <td>Jack</td>
            <td>34000 Ks</td>
            <th><button type="button" class="btn btn-outline-dark" [routerLink]="['/admin-view/order']" routerLinkActive="router-link-active" >Detail</button></th>
          </tr>
          <tr>
            <td>6</td>
            <td>8/27/2020</td>
            <td>Jack</td>
            <td>34000 Ks</td>
            <th><button type="button" class="btn btn-outline-dark" [routerLink]="['/admin-view/order']" routerLinkActive="router-link-active" >Detail</button></th>
          </tr>
          <tr>
            <td>7</td>
            <td>8/26/2020</td>
            <td>Jack</td>
            <td>34000 Ks</td>
            <th><button type="button" class="btn btn-outline-dark" [routerLink]="['/admin-view/order']" routerLinkActive="router-link-active" >Detail</button></th>
          </tr>
          <tr>
            <td>8</td>
            <td>8/23/2020</td>
            <td>Jack</td>
            <td>34000 Ks</td>
            <th><button type="button" class="btn btn-outline-dark" [routerLink]="['/admin-view/order']" routerLinkActive="router-link-active" >Detail</button></th>
          </tr>
        </tbody>
      </table>
        <br>
      <button class="btn btn-outline-dark btn-block " style="width: 200px;">Noted</button>
      <br><br>
</div>