<br><br><br>
<div class="container">
    <h3>Member List</h3>
    
    <br>
    <table class="table 
    table-striped table-bordered tabletext ">
        <thead>
          <tr>
            <th scope="col" class="text-center">Order No</th>
            <th scope="col">Buyer</th>
            <th scope="col">Phone</th>
            <th scope="col">Deliever Location</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td class="text-center">1</td>
            <td>Mark</td>
            <td>09 123456789</td>
            <td>Yangon,Sanchaung,Zalun st,no.14,2nd floor</td>
            <th><button type="button" class="btn btn-outline-dark" [routerLink]="['/admin-view/order']" routerLinkActive="router-link-active" >Detail</button></th>
          </tr>
          <tr>
            
            <td class="text-center">2</td>
            <td>Mark</td>
            <td>09 123456789</td>
            <td>Yangon,Sanchaung,Zalun st,no.14,2nd floor</td>
            <th><button type="button" class="btn btn-outline-dark">Detail</button></th>
          </tr>
          <tr>
            
            <td class="text-center">3</td>
            <td>Mark</td>
            <td>09 123456789</td>
            <td>Yangon,Sanchaung,Zalun st,no.14,2nd floor</td>
            <th><button type="button" class="btn btn-outline-dark">Detail</button></th>
          </tr>
          <tr>
            
            <td class="text-center">4</td>
            <td>Mark</td>
            <td>09 123456789</td>
            <td>Yangon,Sanchaung,Zalun st,no.14,2nd floor</td>
            <th><button type="button" class="btn btn-outline-dark">Detail</button></th>
          </tr>
          
        </tbody>
      </table>
</div>