<div class="container">
	
	<div class="form-container sign-up-container " data-aos="zoom-out-up" data-aos-once="false" data-aos-duration="2000" data-aos-easing="ease-in-out">
		<form #signUpForm="ngForm">
			<h2 class="f">Create Account</h2>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			
			<input type="name" class="form-control " id="name"
                   placeholder="Enter name" ngModel name="username" required>
                       <br>
			<input type="email" class="form-control " id="email"
                   placeholder="Enter email" ngModel name="email" required>
                       <br>
			<input type="password" class="form-control" id="password"
					   placeholder="Password" ngModel name="password" required>
                       <br>
			<button type="submit" [disabled]="!signUpForm.valid" 
			(click)="signUp(signUpForm);signUpForm.reset()" >
				Sign Up</button>
		</form>
		<br>
		<br>
		<p class="text-center">
			If you already have an account <a [routerLink]="['/login']" class="text-info" routerLinkActive="router-link-active">Sign In</a> here.
		</p>
	</div>


	
</div>