<br><br><br>
<div class="container">
    <h3>Order No 1</h3>
    <br>
    
    <div class="row">
        
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <p>Buyer -</p>
                    <p>Order Date -</p>
                    <p>Phone -</p>
                    
                    <p>Deliever Location -</p>
                   
                </div>
                <div class="col-md-6">
                    <p>Mark</p>
                    <p>8/29/2020</p>
                    <p>09 123456789</p>
                    <p>Yangon,Sanchaung,Zalun st,no.14,2nd floor</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>

<br>
    <table class="table ">
        <thead>
          <tr>
            <th scope="col" >Product</th>
            <th scope="col"  >Product Name</th>
            <th scope="col" class="text-center">Quantity</th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="assets/images/offwhitePFJ.jpeg" height="75px" width="75px"></td>
            <td>Off-White Polar Fleece Jacket 'Green/White'</td>
            <td class="text-center">1</td>
            
            
          </tr>
          <tr>
            <td><img src="assets/images/PTTTNavy.jpeg" height="75px" width="75px"></td>
            <td>Palace Tri-Tex T-Shirt 'Navy'</td>
            <td class="text-center">2</td>
          
            
          </tr>
         
        </tbody>
      </table>
        <br>
      <button class="btn btn-outline-dark btn-block " style="width: 200px;">Noted</button>
      <br><br>
</div>