<br><br><br>
<div class="container contWide">
    <h3>Product Form</h3>
    <hr>
    <br>

    <div class="card">
        <div class="card-body">
            <div class="container row">
                <div class="col-md-7">
                  <!-- ProductName  -->
                    <form [formGroup]="productForm">
                        <div class="form-group">
                            <label for="productname">
                                Product
                            </label>
                            <input type="text" class="form-control" id="productname"
                                placeholder="Insert Product Name" formControlName="name"
                                [class.is-invalid]="name?.invalid && (name?.dirty|| name?.touched)">
                            <div *ngIf="name?.invalid && (name?.dirty||name?.touched)">
                                <small *ngIf="name.errors.required" class="text text-danger">Product Name is required</small>
                            </div>
                        </div>

                        <!-- Category -->
                        <div class="form-group">
                            <label for="productname">
                                Category
                            </label>
                            <select class="form-control" formControlName="category"
                            [class.is-invalid]="category?.invalid && (category?.dirty|| category?.touched)">
                            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                              </select>
                              <div *ngIf="category?.invalid && (category?.dirty||category?.touched)">
                                <small *ngIf="category.errors.required" class="text text-danger">Category</small>
                              </div>
                        </div>

                        <!-- Price -->
                        <div class="form-group">
                                    <label for="price">
                                        Price
                                    </label>
                                    <input type="number" class="form-control" id="price"
                                        placeholder="Insert Price" formControlName="price"
                                        [class.is-invalid]="price?.invalid && (price?.dirty|| price?.touched)" >
                                    <div *ngIf="price?.invalid && (price?.dirty||price?.touched)">
                                        <small *ngIf="price.errors.required" class="text text-danger">Price is required</small>
                                    </div>
                        </div>

                        <!-- Size -->
                        <div class="form-group" formArrayName="sizes">
                          <div class="form-row" *ngFor="let size of sizes.controls; let j=index">
                            <div class="form-group col-4">
                              <input type="text" class="form-control" [formControlName]="j" placeholder="Size">
                            </div>

                            <div class="form-group col-2 text-center">
                              <button class="btn btn-outline-danger btn-block" (click)="removeSize(j)"><i class="fas fa-times"></i></button>
                            </div>
                          </div>
                          <button class="btn btn-outline-dark mt-2" (click)="addSize()">Add Size</button>
                        </div>

                      <!-- Others -->
                        <div class="form-group" formArrayName="others">
                            <div class="form-row" *ngFor="let other of getOtherForm.controls; let i=index"
                             [formGroupName]="i">
                              <div class="form-group col-4">
                                <input type="text" class="form-control" formControlName="otherName" placeholder="Name">
                              </div>
                              <div class="form-group col-6">
                                <input type="text" class="form-control" formControlName="otherDesc" placeholder="Description">
                              </div>
                              <div class="form-group col-2 text-center">
                                <button class="btn btn-outline-danger btn-block" (click)="removeOthers(i)"><i class="fas fa-times"></i></button>
                              </div>
                            </div>
                            <button class="btn btn-outline-dark mt-2" (click)="addOthers()">Add Others</button>
                          </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1"
                            formControlName="description"
                             rows="3" [class.is-invalid]="description?.invalid && (description?.dirty|| description?.touched)"></textarea>
                             <div *ngIf="description?.invalid && (description?.dirty||description?.touched)">
                                <small *ngIf="description.errors.required" class="text text-danger">Description is required</small>
                              </div>
                        </div>


                        <button class="btn1" (click)="save(fc.files)"
                         [disabled]="!productForm.valid">Confirm</button>
                    </form>
                </div>
                <div class="col-md-5">
                  <input type="file" class="d-none" (change)="preview(fc.files)" multiple #fc>
                  <div class="frame" (click)="fc.click()" style="height: 400px;width: 400px;">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item " [ngClass]="{'active': i === 0}"
                          *ngFor="let image of images; let i=index">
                          <img class="d-block" [src]="image" alt="i" style="height: 400px;width: 400px;">
                        </div>

                      </div>

                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  <br>
                  <div class="container">

                  </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br>


