<div class="container ">
    <h2>
        Personal Data
    </h2>
    <p>
        Here you can edit your personal information or change your email.
    </p>
    <label for="" class="mr-auto"><h5>Your Name</h5></label>
    <input type="name" class="form-control em" id="name" 
                       placeholder="Enter Name">
                       <br>
    <label for="" class="mr-auto"><h5>Your Email</h5></label>
    <input type="email" class="form-control em" id="email" 
                       placeholder="Enter Email">
                       <br>
    <label for="" class="mr-auto"><h5>Your Password</h5></label>
    <input type="password" class="form-control em" id="password" 
                       placeholder="Enter Password">
                       <br>
    <button class="buttonPhone">Save</button>
    <br>
    <br>
            
</div>