
<div class="containerPhone">
  
  <h4>My Order</h4>

  
  <p class="date">Order Date : 8.6.2020</p>
  <table class="table ">
    <thead>
      <tr>
        <th scope="col" class="text-center">Product</th>
        
        <th scope="col" class="text-center">Quantity</th>
        <th scope="col" class="text-center">Price</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="assets/images/offwhitePFJ.jpeg" height="75px" width="75px"></td>
        
        <td class="text-center">1</td>
        <td class="price" > 1700000 MMK</td>
        
      </tr>
      <tr>
        <td><img src="assets/images/PTTTNavy.jpeg" height="75px" width="75px"></td>
        
        <td class="text-center">1</td>
        <td class="price">300000 MMK</td>
        
      </tr>
      <tr>
        
        <td colspan="2" class="tp">Total Price :</td>
        <td class="price">2000000 MMK</td>
       
      </tr>
    </tbody>
  </table>

</div>




<div class="container containerWide">
  <h3>
      My Orders
  </h3>
  
 <br>
 <p class="date">Order Date : 8.6.2020</p>
      <table class="table ">
          <thead>
            <tr>
              <th scope="col" >Product</th>
              <th scope="col"  >Product Name</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col">Price</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="assets/images/offwhitePFJ.jpeg" height="75px" width="75px"></td>
              <td>Off-White Polar Fleece Jacket 'Green/White'</td>
              <td class="text-center">1</td>
              <td>1700000 MMK</td>
              
            </tr>
            <tr>
              <td><img src="assets/images/PTTTNavy.jpeg" height="75px" width="75px"></td>
              <td>Palace Tri-Tex T-Shirt 'Navy'</td>
              <td class="text-center">1</td>
              <td>300000 MMK</td>
              
            </tr>
            <tr>
              
              <td colspan="3" class="tp">Total Price :</td>
              <td colspan="1">2000000 MMK</td>
             
            </tr>
          </tbody>
        </table>
      
</div>