<div class="menu-wrapper " data-aos="fade-left">
    <ul class="menu">
      <li class="item">
        
          <img class="card-img-top image" style="height: 250px; width: 250px;" src="../../../assets/images/canon%20eos.jpg" alt="Card image cap">
          <div class="card-body">
            <a href="#" class="r">Canon EOS 90D EF-S</a>
          </div>
        
      </li>
      <li class="item">
        
          <img class="card-img-top image" style="height: 250px; width: 250px;" src="../../../assets/images/armaniwatch.jpg" alt="Card image cap">
          <div class="card-body">
            <a href="#" class="r">
                Emporio Classic Armani</a>
          </div>
        
      </li>
      <li class="item">
        
          <img class="card-img-top image" style="height: 250px; width: 250px;" src="../../../assets/images/canonrefu.jpg" alt="Card image cap">
          <div class="card-body">
            <a href="#" class="r text-center">Canon Refurbished</a>
          </div>
        
      </li>
      <li class="item">
        
          <img class="card-img-top image" style="height: 250px; width: 250px;" src="../../../assets/images/offwhitehoodie.jpeg" alt="Card image cap">
          <div class="card-body">
            <a href="#" class="r "> Oversize Hoodie</a>
          </div>
        
      </li>
      <li class="item">
        
          <img class="card-img-top image" style="height: 250px; width: 250px;" src="../../../assets/images/offwhitehoodie.jpeg" alt="Card image cap">
          <div class="card-body">
            <a href="#" class="r">Oversize Hoodie</a>
          </div>
        
      </li>
      <li class="item">
        
          <img class="card-img-top image" src="../../../assets/images/offwhitepainthoodie.jpeg" alt="Card image cap">
          <div class="card-body">
            <a href="#" class="r"> Oversize Hoodie</a>
          </div>
        
      </li>
    </ul>

    <div class="paddles">
      <button type="button" class="left-paddle2 paddle hidden border-0 btn btn-white" >
        <i class="fas fa-chevron-left text-black"></i>
      </button>
      <button type="button" class="right-paddle2 paddle border-0 btn btn-white">
        <i class="fas fa-chevron-right text-black"></i>
      </button>
    </div>

  </div>
