
<div class="containerPhone">
    <div class="container">
        <h4>
           Order History
        </h4>
       <br>
      </div>     
       <nav class="navbar navbar-light bg-light">
       <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h5 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            
              Order Date : 8.5.2019
            
          </h5>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <table class="table ">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Product</th>
                  
                  <th scope="col" class="text-center">Quantity</th>
                  <th scope="col" class="text-center">Price</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img src="assets/images/offwhitePFJ.jpeg" height="75px" width="75px"></td>
                  
                  <td class="text-center">1</td>
                  <td class="price" > 1700000 MMK</td>
                  
                </tr>
                <tr>
                  <td><img src="assets/images/PTTTNavy.jpeg" height="75px" width="75px"></td>
                  
                  <td class="text-center">1</td>
                  <td class="price">300000 MMK</td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
       </nav>
       <br>
    
       <nav class="navbar navbar-light bg-light">
        <div class="panel panel-default">
         <div class="panel-heading" role="tab" id="headingTwo">
           <h5 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
             
               Order Date : 3.2.2020
             
           </h5>
         </div>
         <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
           <div class="panel-body">
             <table class="table ">
               <thead>
                 <tr>
                   <th scope="col" class="text-center">Product</th>
                   
                   <th scope="col" class="text-center">Quantity</th>
                   <th scope="col" class="text-center">Price</th>
                   
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td><img src="assets/images/offwhitePFJ.jpeg" height="75px" width="75px"></td>
                   
                   <td class="text-center">1</td>
                   <td class="price" > 1700000 MMK</td>
                   
                 </tr>
                 <tr>
                   <td><img src="assets/images/PTTTNavy.jpeg" height="75px" width="75px"></td>
                   
                   <td class="text-center">1</td>
                   <td class="price">300000 MMK</td>
                   
                 </tr>
               </tbody>
             </table>
           </div>
         </div>
       </div>
     </nav>
    </div> 
     
    
    
     <div class="containerWide">
      <div class="container">
        <h3>
            Purchase Items
        </h3>
       <br>
            <table class="table ">
                <thead>
                  <tr>
                    <th scope="col">Order Date</th>
                    <th scope="col">Product</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
    
                    <td>4.12.2020</td>
                    <td><img src="assets/images/offwhitePFJ.jpeg" height="75px" width="75px"></td>
                    <td>Off-White Polar Fleece Jacket 'Green/White'</td>
                    <td>1</td>
                    <td>1700000 MMK</td>
                    
                  </tr>
                  <tr>
                    <td>2.6.2020</td>
                    <td><img src="assets/images/PTTTNavy.jpeg" height="75px" width="75px"></td>
                    <td>Palace Tri-Tex T-Shirt 'Navy'</td>
                    <td>1</td>
                    <td>300000 MMK</td>
                   
                  </tr>
                  <tr>
                    <td>4.12.2020</td>
                    <td><img src="assets/images/fcsTee.jpeg" height="75px" width="75px"></td>
                    <td>Flight Club Streak Logo Tee 'Baby Blue/White'</td>
                    <td>2</td>
                    <td>70000 MMK</td>
                    
                  </tr>
                </tbody>
              </table>
            
    </div>
     </div>